#bgVideo { object-fit: cover;
           width: 100vw;
           height: 100vh;
           position: fixed;
           top: 0;
           left: 0;
           z-index: -1; }

#logo { width: 50%;
        display: block; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }

.bigButton { display: block;
             margin-left: auto;
             margin-right: auto;
             margin-top: 0.5%;
             width: 35% }

.smallButton { display: block;
               margin-top: 2%;
               width: 17%; }

.musicButton { display: block;
               margin-top: 2%;
               width: 3.4%; }
#preloader {
/* Images you want to preload*/
background-image: url(image/chosen_Backtogame.png);
background-image: url(image/chosen_GithubCode.png);
background-image: url(image/chosen_Multiplayer.png);     
background-image: url(image/chosen_Powerpoint.png);         
background-image: url(image/chosen_QuitGame.png);  
background-image: url(image/chosen_Quittotitle.png);  
background-image: url(image/chosen_Restartgame.png);  
background-image: url(image/chosen_Singleplayer.png);  
background-image: url(image/chosen_Startgame.png);  
background-image: url(image/soundOn_chosen.png);  
background-image: url(image/soundOn_unchosen.png);  

           
width: 0px;
height: 0px;
display: inline;
}
